* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --white: #ffffff;
    --darkMode1: #121212;
    --darkMode2: #181818;
    --darkMode3: #404040;
    --darkMode4: #282828;
    --darkMode5: #b3b3b3;
    --darkModeAccent: #b806b8;
}

/* header */
.header {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.sliderContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.menuBar {
    border: 2px solid var(--darkMode3);
    border-radius: 8px;
    padding: 10px;
}

.menuBar img {
    margin: 5px;
    margin-left: 25px;
    margin-right: 25px;
    cursor: pointer;
}

.menuBar img:hover {
    transform: scale(0.90);
}

#colorPicker {
    width: 0;
    height: 0;
    position: relative;
    right: 345px;
    bottom: 25px;
}


/* pixel box area */
.container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 25px;
}

.centerContainer {
    border: 1px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 3;
    margin: 5px;
}

.pixelContainer {
    display: flex;
    flex-wrap: wrap;
    max-width: 960px;
    max-height: 960px;
}

/* footer area */
.footerContainer {
    display: flex;
    flex-direction: column;
    width: 100vw;
}

.footer {
    padding: 50px;
}